@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    user-select: none;
}

#game {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 16px #393939 solid;
    height: 100vh;
}

#simon {
    max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    width: 22.5vw;
    height: 22.5vw;
    display: grid;
    gap: 10px;
    border-radius: 50%;
    overflow: hidden;
    grid-template-areas:
        "top-left top-right"
        "bottom-left bottom-right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.btn {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(0.98);
}

.btn:active {
    transform: scale(0.95);
}

#yellow {
    background-color: yellow;
    grid-area: top-left;
    border-top-left-radius: 100%;
}

#blue {
    background-color: blue;
    grid-area: top-right;
    border-top-right-radius: 100%;
}

#red {
    background-color: red;
    grid-area: bottom-left;
    border-bottom-left-radius: 100%;
}

#green {
    background-color: green;
    grid-area: bottom-right;
    border-bottom-right-radius: 100%;
}

#gameStatus {
    flex-grow: 0;
    font-size: 28px;
    height: 40%;
    margin-top: 20px;
    text-align: center;
    cursor: default;
    padding: 20px;
}

#main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    background: black;
}

#menu {
    width: fit-content;
    height: fit-content;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 50px;
    text-align: center;
    border-radius: 5px;
}

#title {
    width: fit-content;
    height: fit-content;
}

#title h1 {
    font-size: xxx-large;
}

#startGameBtn {
    color: black;
    width: fit-content;
    height: fit-content;
    background: white;
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
    user-select: none;
}

#startGameBtn h1 {
    font-size: x-large;
    width: 125px;
}

#startGameBtn:hover {
    transform: scale(0.98);
}

#startGameBtn:active {
    transform: scale(0.96);
}

#difficulty {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 8px;
}

#difficulty input[type="radio"] {
    display: none;
}

#difficulty label {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #272727;
    font-weight: bold;
    transition: all 0.3s ease;
}

#difficulty input[type="radio"]:checked + label {
    background-color: #ffffff;
    color: black;
}

#difficulty label:hover {
    background-color: #656565;
}

#end {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    width: fit-content;
    height: fit-content;
    display: grid;
    gap: 50px;
    padding: 20px;
    align-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

#levelCount {
    width: fit-content;
    height: fit-content;
    text-align: center;
    display: grid;
    gap: 10px;
}

#options {
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 10px;
}

#options div {
    background: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#options div:hover {
    background: #b8b8b8;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    #game {
        border: none;
    }
    #simon {
        width: 80vw;
        height: 80vw;
    }
    #difficulty {
        gap: 10px;
    }
    #title h1 {
        font-size: xx-large;
    }
    #startGameBtn h1 {
        width: 100px;
    }
}

@media (max-width: 400px) {
    #simon {
        width: 70vw;
        height: 70vw;
        min-width: 250px;
        min-height: 250px;
    }
    #title h1 {
        font-size: x-large;
    }
    #startGameBtn h1 {
        font-size: medium;
    }
}

@media (max-width: 320px) {
    #simon {
        width: 60vw;
        height: 60vw;
    }
}